.container {
  width: 80vw;
  border-collapse: collapse;

}
.container th {
  background-color: var(--mainColor);
  border-color: var(--mainColor);
  color: white;
  text-align: center;
  padding: 10px 0px;
}
.container td {
  padding: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 0.95rem;
  color: var(--darkGrey);
}
.container tr:nth-child(even) {
    background-color: #F5F5F5;
}
.container tr:nth-child(odd) {
    background-color: #dedede;
}
.container td button{
    padding: 5px 10px;
    border: none;
    outline: none;
    color: white;
    background-color: #44B485;
    font-weight: 800;
    font-size: 1rem;
    cursor: pointer;
}