.subNav {
  margin-top: 10px;
  padding: 5px 0px;
  box-shadow: 1px 2px 8px #00000024;
}
.subNavContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subNavContainer .links {
  margin-left: 40px;
  list-style: none;
}
.subNavContainer .links a {
  font-weight: 600;
}

@media screen and (max-width: 1000px) {
  .subNavContainer .links {
    margin-left: 20px;
  }
}
@media screen and (max-width: 800px) {
  .subNavContainer .links {
    margin-left: 10px;
  }
}
@media screen and (max-width: 672px) {
  .subNavContainer {
    overflow-x: scroll;
    display: flex;
    justify-content: stretch;
    align-items: center;
  }
  .subNavContainer::-webkit-scrollbar {
    display: none;
  }
  .subNavContainer .links {
    margin-left: 40px;
  }
}
